<div class="element" 
    id="{{className}}-element" 
    data-name="{{../name}}{{type}}{{name}}Chain" 
    onclick="select('{{className}}')"
    onmouseover="show('{{className}}')" 
    onmouseout="hide('{{className}}')">

    <div class="element-name">{{nameUpper}}</div>
    <div class="element-context">{{type}}</div>
    <div class="element-context">{{context.nameUpper}}</div>
    <div class="element-params" id="{{className}}" style="display: none">
        <h3 class="element-name">{{className}}</h3>
        <div class="element-context">{{type}}</div>
        <div class="element-context">{{context.nameUpper}}</div>
        {{#each triggers}}
        <div class="element-param">
            <b>{{eventType}}: </b>
            <br> {{#if matcher.allOf.length}} AllOf({{#each matcher.allOf}}{{toUpper name}}{{#unless @last}}, {{/unless}}{{/each}})
            {{/if}}{{#if matcher.anyOf.length}}AnyOf({{#each matcher.anyOf}}{{toUpper name}}{{#unless @last}}, {{/unless}}{{/each}})
            {{/if}}{{#if matcher.noneOf.length}}NoneOf({{#each matcher.noneOf}}{{toUpper name}}{{#unless @last}}, {{/unless}}{{/each}})
            {{/if}}
        </div>
        {{/each}} 
        {{#if ensure.length}}
        <div class="element-param"><b>Ensure:</b> <br>{{#each ensure}}{{toUpper name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if exclude.length}}
        <div class="element-param"><b>Exclude:</b> <br>{{#each exclude}}{{toUpper name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsEntity.length}}
        <div class="element-param"><b>Single Entities:</b> <br>{{#each propsEntity}}{{toLower context.name}}{{toUpper ucomponent.name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsGroup.length}}
        <div class="element-param"><b>Groups:</b> <br>{{#each propsGroup}}{{toLower context.name}}{{toUpper name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsGroupSingle.length}}
        <div class="element-param"><b>Groups Single:</b> <br>{{#each propsGroupSingle}}{{toLower context.name}}{{toUpper name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsContext.length}}
        <div class="element-param"><b>Contexts:</b> <br>{{#each propsContext}}{{toLower context.name}}{{toUpper name}}<br>{{/each}}</div>
        {{/if}}
        {{#if propsMB.length}}
        <div class="element-param"><b>MB:</b> <br>{{#each propsMB}}
            <u>{{this.type}}</u> {{toLower this.name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsMBExternal.length}}
        <div class="element-param"><b>MBExternal:</b> <br>{{#each propsMBExternal}}
            <u>{{this.type}}</u> {{toLower this.name}}<br>{{/each}}</div>
        {{/if}} 
        {{#if propsGO.length}}
        <div class="element-param"><b>GO:</b> <br>{{#each propsGO}}{{toLower this.name}}<br>{{/each}}</div>
        {{/if}}
        {{#if component}}
        <div class="element-param"><b>{{#if component.single}}Ucomponent{{else}}Component{{/if}}:</b> <br>{{toUpper this.component.className}}</div>
        {{/if}}
        {{#if methods.length}}
        <div class="element-param"><b>Methods:</b> <br>{{#each methods}}{{this.ret}} {{toUpper this.name}} ({{#each this.fields}}{{#each this}}{{this}}
            {{@key}}{{#unless @last}}, {{/unless}}{{/each}}{{/each}})<br>{{/each}}</div>
        {{/if}}
        {{#if methodsEditor.length}}
        <div class="element-param"><b>Methods Editor:</b> <br>{{#each methodsEditor}}void {{toUpper this.name}} ({{#each this.fields}}{{#each
            this}}{{this}} {{@key}}{{#unless @last}}, {{/unless}}{{/each}}{{/each}})<br>{{/each}}</div>
        {{/if}}
        {{#ifCond type '==' 'Reactive'}}
        <div class="element-param">
            <b>Bunch Entities:</b> {{bunchEntities}}<br>
            <b>Value Filter:</b> {{filter}}
        </div>
        {{/ifCond}}
        {{#if comment}}
        <div class="element-param"><b>Comment:</b> <br>{{comment}}</div>
        {{/if}}
    </div>
</div>